body {
}

#login-form {
    /* display: none; */
    max-width: 800px;
    margin: auto;
}

#registration-form {
    /* display: none; */
    max-width: 800px;
    margin: auto;
}

#dashboard {
    display: none;
}

.row {
    width: 500px;
}

.inp {
    margin-top: 6px;
}

#register-submit {
    margin-top: 15px;
}

.login {
    text-decoration: none;
    color: black;
}

#goto-login {
    margin-top: 3px;
}

.group {
    margin-top: 10px;
}

label {
    font-size: 17px;
}

/* Welcome page */
.welcomeh1 {
    font-weight: 500;
    color: #129daf;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.welcomeh2 {
    font-weight: 500;
    font-size: medium;
    color: #129daf;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.welcome {
    background-image: url("../images/background.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.welcard {
    margin-top: 30vh;
    background-color: #eeeeee4f !important;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.navbar-brand {
    text-transform: none !important;
    color: #eb6864 !important;
    margin-left: 10px;
    margin: auto !important;

    font-size: 30px !important;
    font-weight: 600;
}

nav {
    height: 65px;
}

#register-response {
    color: red;
    font-size: 18px;
    font-weight: 500;
}

#login-response {
    color: red;
    font-size: 18px;
    font-weight: 500;
}
